.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px 50px;
  font-size: 24px;
}
.accueil {
  text-decoration: none;
  color: #ff6060;
  cursor: pointer;
}

.accueil:hover {
  text-decoration: underline;
}
.aPropos {
  text-decoration: none;
  color: #ff6060;
  margin-left: 50px;
  cursor: pointer;
}
.aPropos:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .logoKasa{
        width: 145px;
  }
  .header {
    padding: 20px 20px 30px;
      font-size: 12px;
  }
  .navbar {
    text-transform: uppercase;
  }
}
