.apartmentImgContainer {
  margin-bottom: 2rem;
  position: relative;
}
.imgContainer {
  position: relative;
  height: 20rem;
  width: 100%;
}
.apartmentImg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: inherit;
  border-radius: 25px;
  margin-bottom: 30px;
  transition: opacity 0.5s ease-in-out;
}
.show {
  opacity: 1;
}
.btn {
  font-size: 3rem;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;

  width: 5rem;
  background-color: transparent;
}
.buttonBack {

  left: 0;
}
.buttonNext {
  right: 0;
}
.numberSlide{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  color: white;
  font-size:20px;
}
@media screen and (max-width: 768px) {
.btn{
    font-size: 2rem;
}
}
