h1,
h2,
p {
  margin: 0;
}
.apartmentPage {
  padding: 0 100px;
  color: #ff6060;
}
.apartmentDescriptionArea{
    display: flex;
    gap: 1rem;
    margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
    .apartmentPage {
            padding: 0 20px;
        }
.apartmentDescriptionArea {
       flex-direction: column;
    }
}
