
.errorContainer{

    color:#FF6060;
    text-align: center;
}
.numberError{
    font-weight: bold;
    font-size: 300px;
margin-bottom: 0.5rem;}
h2{
    font-size: 30px;
  
}
.linkError{
    color: #FF6060;

}
