.apartmentEquipment {
  margin-bottom: 30px;
  width: 100%;
  border-radius: 10px;
}

.equipmentHeader {
  font-size: 18px;
  background-color: #ff6060;
  color: white;
  padding: 0.2em 1em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
i {
  font-size: 2em;
  cursor: pointer;
}
.equipmentContainer {
  background-color: #f7f7f7;
  padding: 12px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 18px;
}
.equipmentContent {
  margin-top: 15px;
  position: relative;
  animation: slide-in 0.5s ease-in-out;
}
@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
}
@media screen and (max-width: 768px) {
  .equipmentHeader {
    font-size: 13px;
  }
  .equipmentContainer {
    font-size: 12px;
  }
}
